{% extends 'panel/base.html' %}
{% block content %}


                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="bg-picture card-box">
                                    <div class="profile-info-name">
                                        <img src="assets/images/profile.jpg"
                                             class="img-thumbnail" alt="profile-image">

                                        <div class="profile-info-detail">
                                            <h3 class="m-t-0 m-b-0">نام کاربری یک بانو</h3>
                                            <p class="text-muted m-b-20"><i>طراح رابط کاربری</i></p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>

                                            <div class="button-list m-t-20">
                                                <button type="button" class="btn btn-facebook btn-sm waves-effect waves-light">
                                                   <i class="fa fa-facebook"></i>
                                                </button>

                                                <button type="button" class="btn btn-sm btn-twitter waves-effect waves-light">
                                                   <i class="fa fa-twitter"></i>
                                                </button>

                                                <button type="button" class="btn btn-sm btn-linkedin waves-effect waves-light">
                                                   <i class="fa fa-linkedin"></i>
                                                </button>

                                                <button type="button" class="btn btn-sm btn-dribbble waves-effect waves-light">
                                                   <i class="fa fa-dribbble"></i>
                                                </button>

                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <!--/ meta -->



                                <form method="post" class="card-box">
                                    <span class="input-icon icon-right">
                                        <textarea rows="2" class="form-control" placeholder="نوشتن یک پیام"></textarea>
                                    </span>
                                    <div class="p-t-10 pull-right">
                                        <a class="btn btn-sm btn-primary waves-effect waves-light">ارسال</a>
                                    </div>
                                    <ul class="nav nav-pills profile-pills m-t-10">
                                        <li>
                                            <a href="#"><i class="fa fa-user"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-location-arrow"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class=" fa fa-camera"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-smile-o"></i></a>
                                        </li>
                                    </ul>

                                </form>
                                <div class="card-box">
                                    <div class="comment">
                                        <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
                                        <div class="comment-body">
                                            <div class="comment-text">
                                                <div class="comment-header">
                                                    <a href="#" title="">نام کاربر </a><span>در 2 دقیقه پیش</span>
                                                </div>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.

                                                <div class="m-t-15">
                                                    <a href="">
                                                        <img src="assets/images/small/img1.jpg" class="thumb-md">
                                                    </a>
                                                    <a href="">
                                                        <img src="assets/images/small/img2.jpg" class="thumb-md">
                                                    </a>
                                                    <a href="">
                                                        <img src="assets/images/small/img3.jpg" class="thumb-md">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="comment-footer">
                                                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>

                                        <div class="comment">
                                            <img src="assets/images/users/avatar-2.jpg" alt="" class="comment-avatar">
                                            <div class="comment-body">
                                                <div class="comment-text">
                                                    <div class="comment-header">
                                                        <a href="#" title="">نام کارب</a><span>در 1 ساعت قبل</span>
                                                    </div>
                                                    سلام به تو دوست عزیز .
                                                </div>
                                                <div class="comment-footer">
                                                    <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                    <a href="#">جواب دادن</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="comment">
                                            <img src="assets/images/users/avatar-3.jpg" alt="" class="comment-avatar">
                                            <div class="comment-body">
                                                <div class="comment-text">
                                                    <div class="comment-header">
                                                        <a href="#" title="">نام یک کاربر</a><span>در 2 دقیقه پیش</span>
                                                    </div>
                                                  از احوالت بگو
                                                </div>
                                                <div class="comment-footer">
                                                    <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                    <a href="#">جواب دادن</a>
                                                </div>
                                            </div>

                                            <div class="comment">
                                                <img src="assets/images/users/avatar-4.jpg" alt="" class="comment-avatar">
                                                <div class="comment-body">
                                                    <div class="comment-text">
                                                        <div class="comment-header">
                                                            <a href="#" title="">نام یک کاربر</a><span>در 3 ساعت پیش</span>
                                                        </div>
                                                        کار بسیار عالی انجام دادی
                                                    </div>
                                                    <div class="comment-footer">
                                                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                        <a href="#">جواب دادن</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
                                        <div class="comment-body">
                                            <div class="comment-text">
                                                <div class="comment-header">
                                                    <a href="#" title="">نام کاربر</a><span>در 4 ساعت پیش</span>
                                                </div>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه 
                                            </div>
                                            <div class="comment-footer">
                                                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                <a href="#">جواب دادن</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img src="assets/images/users/avatar-7.jpg" alt="" class="comment-avatar">
                                        <div class="comment-body">
                                            <div class="comment-text">
                                                <div class="comment-header">
                                                    <a href="#" title="">نام کاربر</a><span>در 10 ساعت پیش</span>
                                                </div>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ !!
                                            </div>
                                            <div class="comment-footer">
                                                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                                <a href="#">جواب دادن</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="m-t-30 text-center">
                                        <a href="" class="btn btn-default waves-effect waves-light btn-sm">نمایش بیشتر ...</a>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-4">
                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">متن اول</a></li>
                                            <li><a href="#">متن دوم</a></li>
                                            <li><a href="#">متن سوم</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">متن چهارم</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30">تیم دوست داشتنی من</h4>

                                    <ul class="list-group m-b-0 user-list">
                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="assets/images/users/avatar-2.jpg" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">نام کاربر</span>
                                                    <span class="desc">برنامه نویس</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="assets/images/users/avatar-3.jpg" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">نام کاربر</span>
                                                    <span class="desc">طراح</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="assets/images/users/avatar-5.jpg" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">نام کاربر</span>
                                                    <span class="desc m-b-0">طراح واسط کاربری</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="assets/images/users/avatar-6.jpg" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">نام کاربر</span>
                                                    <span class="desc">برنامه نویس</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar">
                                                    <img src="assets/images/users/avatar-1.jpg" alt="">
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">نام کاربر</span>
                                                    <span class="desc">مدیر</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                         
                                            <li><a href="#">متن اول</a></li>
                                            <li><a href="#">متن دوم</a></li>
                                            <li><a href="#">متن سوم</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">متن چهارم</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30"><i class="zmdi zmdi-notifications-none m-r-5"></i>قرار های من</h4>

                                    <ul class="list-group m-b-0 user-list">
                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-primary"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">دیدن از نمایش گاه</span>
                                                    <span class="desc">شنبه 22 بهمن 95 ساعت 12:30</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-success"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">تحویل پروژه</span>
                                                    <span class="desc">شنبه 22 بهمن 95 ساعت 12:30</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-pink"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">بستن قرارداد</span>
                                                    <span class="desc">شنبه 22 بهمن 95 ساعت 12:30</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-muted"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">دیدن دوستان</span>
                                                    <span class="desc">شنبه 22 بهمن 95 ساعت 12:30</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-danger"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">قرار شام</span>
                                                    <span class="desc">شنبه 22 بهمن 95 ساعت 12:30</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>



                    </div> <!-- container -->

                </div>
{% endblock %}

