{% load static %}
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="{% static  'panel/images/users/avatar-1.jpg' %}" alt="user-img" title="Mat Helme"
                     class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">علی یدالهی</a></h5>
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">دسته بندی ها</li>

                <li>
                    <a href="base.html" class="waves-effect active"><i class="zmdi zmdi-view-dashboard"></i> <span> داشبورد </span>
                    </a>
                </li>

                <li>
                    <a href="typography.html" class="waves-effect"><i class="zmdi zmdi-format-underlined"></i>
                        <span> نوشته ها </span> </a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-invert-colors"></i>
                        <span> قزآن</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="ui-buttons.html">افزودن سوره</a></li>
                        <li><a href="ui-cards.html">لیست سوره ها</a></li>
                        <li><a href="ui-draggable-cards.html">افزودن آیه</a></li>
                        <li><a href="ui-checkbox-radio.html">لیست آیه ها</a></li>
                    </ul>
                </li>


                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-list"></i>
                        <span> دعا  </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="tables-basic.html">افزودن دعا</a></li>
                        <li><a href="tables-datatable.html">لیتس دعا ها</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect "><i
                            class="zmdi zmdi-chart"></i><span> قاریان </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'qaris:create' %}">افزودن قاری</a></li>
                        <li><a href="{% url 'qaris:list' %}">لیست قاریان</a></li>
                    </ul>
                </li>


                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="zmdi zmdi-collection-item"></i><span> مترحمان </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'translators:create' %}">افزودن مترجم</a></li>
                        <li><a href="{% url 'translators:list' %}">لیست مترجمان</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="zmdi zmdi-collection-item"></i><span> ذاکران </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'praiseres:create' %}">افزودن ذاکر</a></li>
                        <li><a href="{% url 'praiseres:list' %}">لیست داکران</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="zmdi zmdi-collection-item"></i><span> مداحی </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'dirges:category_create' %}">افزودن دسته بندی مداحی</a></li>
                        <li><a href="{% url 'dirges:category_list' %}">لیست دسته بندی مداحی</a></li>
                        <li><a href="{% url 'dirges:create' %}">افزودن مداحی</a></li>
                        <li><a href="{% url 'dirges:list' %}">لیست مداحی ها</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="zmdi zmdi-collection-item"></i><span> مولودی </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'natals:category_create' %}">افزودن دسته بندی مولودی</a></li>
                        <li><a href="{% url 'natals:category_list' %}">لیست دسته بندی مولودی</a></li>
                        <li><a href="{% url 'natals:create' %}">افزودن مولودی</a></li>
                        <li><a href="{% url 'natals:list' %}">لیست مولودی ها</a></li>
                    </ul>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>