{% extends 'panel/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <h1 class="header-title m-t-0 m-b-30">ویرایش سوره {{ object }}</h1>

                        <form action="" method="post" data-parsley-validate novalidate enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}

                                <div class="form-group">
                                    <label for="userName">{{ field.label }}</label>
                                    {{ field|add_class:'form-control' }}
                                </div>
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% endfor %}



                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-warning form-control  waves-effect waves-light" type="submit">
                                    ویرایش سوره
                                </button>
                                {#                                <button type="reset" class="btn btn-default waves-effect waves-light m-l-5">#}
                                {#                                    لغو#}
                                {#                                </button>#}
                            </div>

                        </form>
                    </div>
                </div><!-- end col -->


            </div>
            <!-- end row -->


        </div> <!-- container -->

    </div> <!-- content -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });
    </script>

{% endblock %}




