{% extends 'panel/base.html' %}
{% block content %}


    <div class="content">
        <div class="container">

            <div class="row">

                <div class="col-sm-12">
                    <div class="bg-picture card-box">
                        <div class="profile-info-name">
                            <img src="{{ object.image.url }}"
                                 class="img-thumbnail" alt="profile-image">

                            <div class="profile-info-detail">
                                <h1 class="m-t-0 m-b-0">عنوان سایت:{{ object.title }}</h1>
                                <a class="btn btn-warning" href="{% url 'config:site_setting_update' object.id %}">ویرایش</a>


                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--/ meta -->


                </div>
            </div>


        </div>
    </div>
{% endblock %}

