{% extends 'panel/base.html' %}

{% block content %}

    <div class="content">
        <div class="container">


            <div class="row port m-b-20">
                <div class="portfolioContainer">

                    {% for obj in object_list %}

                        <div class="col-sm-6 col-lg-3 col-md-4 natural creative personal">
                            <div class="gal-detail thumb">
                                <a href="assets/images/gallery/12.jpg" class="image-popup" title="Screenshot-12">
                                    <img src="{{ obj.image.url }}" class="thumb-img" alt="work-thumbnail">
                                </a>
                                <h4 class="text-center">{{ obj.title }}</h4>
                                <p class="text-center">
                                    <a class="btn btn-warning" href="{% url 'config:slider_update' obj.id %}">ویرایش</a>
                                    <a class="btn btn-danger" href="{% url 'config:slider_delete' obj.id %}">حدف</a>
                                </p>
                            </div>
                        </div>
                    {% empty %}
                        <h1 class="text-center">هیج اسلایدی ثبت نشده است</h1>
                    {% endfor %}
                </div><!-- end portfoliocontainer-->
            </div> <!-- End row -->


        </div> <!-- container -->

    </div>






    <script type="text/javascript">
        $(window).load(function () {
            var $container = $('.portfolioContainer');
            $container.isotope({
                filter: '*',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            $('.portfolioFilter a').click(function () {
                $('.portfolioFilter .current').removeClass('current');
                $(this).addClass('current');

                var selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });
                return false;
            });
        });
        $(document).ready(function () {
            $('.image-popup').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-fade',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                }
            });
        });
    </script>
{% endblock %}